@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-right: #2aaa64;
  --color-wrong: #c9b458e9;
  --colorblind-right: #1A85FFd0;
  --colorblind-wrong: #D41159c0;

  color: white;
  font-family: Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;
}

#app {
  @apply bg-slate-800;
  height: 100vh;
  min-width: 100vw;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}